<style>
* { margin: 0px; padding: 0px; 
}

body {
	font-family: "Open Sans", sans-serif; 
}
#sticky{
	position: fixed;
	z-index: 100;
	top: 0;
}
#grid-selector{
	height: 10px;
	padding: 40px 0 40px 30px;
	float: left;
	color: #5d5f68;
	font-size: 14px;
}
#grid-menu{
	float:right;
	width:100px;
}
#grid-menu ul{
	width: 65px;
	float: right;
}
#grid-menu li{
	float:right;
	width:25px;
	height:25px;
	list-style:none;
}
#grid-menu li a{	 
	display:block;
	width:25px;	
	height:25px;
	background: url("images/grid-menu.png") 0 0  no-repeat;
}
#grid-menu li.smallGrid{
	margin-right:10px;
}
#grid-menu li.smallGrid a{
	background-position:0 -33px;
}
#grid-menu li.largeGrid a{
	background-position:-37px 0;
}

#grid-menu li.smallGrid a.active{
	background-position:0 0;
}
#grid-menu li.largeGrid a.active{
	background-position:-37px -33px;
}
#sidebar h3{
	color:#262626;
	font-size:14px;
	font-weight:700;
	padding:25px 0 10px 0;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
#cart{padding:0px;}
#cart .empty{
	font-style:italic;
	color:#a0a3ab;
	font-size:14px;
	letter-spacing:1px;	
}
#sidebar .checklist{
	padding:0;
}
.checklist ul li{	
	font-size:14px;
	font-weight:400;
	list-style:none;
	padding: 7px 0 7px 23px;
}
.checklist li span{
	float:left;
	width:11px;
	height:11px;
	margin-left:-23px;
	margin-top:4px;
	border: 1px solid #d1d3d7;
	position:relative;	
}
.checklist li a{
	color:#676a74;
	text-decoration:none;	
}
.checklist li a:hover{	
	color:#222;
}
.checklist a:hover span{ 	
	border-color:#a6aab3;	
}
.sizes a:hover span, .categories a:hover span{	
	border-color:#a6aab3;
}
.checklist a span span{
	border:none;margin:0;
	float:none; position:
	absolute;top:0;
	left:0;
}
.checklist a .x{
	display:block;
	width:0;	 
	height:2px;
	background:#5ff7d2;
	top:6px;
	left:2px;	
	transform: rotate(45deg);	
}
.checklist a .x.animate{
	width:4px;
}
.checklist a .y{
	display:block;
	width:0px; 
	height:2px;
	background:#5ff7d2;
	top:4px;
	left:3px;	
	transform: rotate(135deg);	
}
.checklist a .y.animate{
	width:8px;
}
.checklist .checked span{
	border-color:#8d939f;
}
.colors ul, .sizes ul{
	float:left; width:130px;	
}
.colors ul li{
	padding-left:21px;
}
.colors a span{
	border:none;
	position:relative;
	border-radius:100%;
	background-color:#eae3d3;
	width:13px;
	height:13px;
	margin-left:-20px;
}
.colors a:hover span{
	width:15px;
	height:15px;
	margin-top:3px;
	margin-left:-21px;
}

</style>
